extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/new") Create messages

  p(class="hhee") Messages

  div
    each item in mes
      p= item.text
      p= item.user 
      p= item.added
